MONGODB_URL= "mongodb://localhost:27017/reprograma"
SECRET=MIICXAIBAAKBgQDUVzJje0qWIs3sxDa9XYdNHDiaXSjUIPZ3+TGjD0zLtDSiEHG81MCm4W+ieLICTe7ZMVgoZYz0VMUDETBwo/QXBs8ZxQY93SelPKwdXAUV/Hp6KWzrCHPX1YTnohLnvUHLWd3sBMnvSAy/D+7BvnueJslRQ+paV4HQLKjQB7CmdQIDAQABAoGAcaPhAcDAIC2sS6SPLzVY7fnGiUaGTVD+1yJ0YDIWBYcCDCIE3Ox31lgcKLWzfuw6gd6YsbX3g+PCNGwEoqP8Q0SqmOaI0f7D+GqGdjQttBGzC4axI4HN2NSKW23TmW+DvQAOXW05mo52hZq1u21cWja/XYW9Qenr0B2I1hLNPAECQQD1kxEwpNSzq62OkRQgz6rZDNxz6LTy/Geo+fF2/QkXBHBpVbTejgwCs5GMTtoNgPBPJF47K4aPm3Gmqtm5dCr1AkEA3VrwpU0hdgyqe9qYsWC2qBz75TeHLozVczdcWdWZ9YLhXxIQuy5x49em3tm9eztojbmAPowAJje41F/x3txdgQJBAI+X1BheeWUpwI05dcyNwXezFoDMFGp0fmSG6dNKt/L2jIh7LgxogMtfln61aLk2qM2OFW+BzufP28+53R+ctrUCQCJX0a5T4TUnkevVZoterfg3Rv2xN9AJGbTeif2GHnTw8XaGnwHrms/2zXUV40gTV41lkngh0IQdcRfCKwygtAECQBBKu7SY1yIJtzE5ikKM/78xNGdQGNTkBO+HVcR6O5eDhDe2+6Q4oBU1v8smLcuY9fsKW/S0Xy8HRmGDz9tW400=